*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 18px;
  color: #222831;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px;
}

.page__main {
  display: flex;
  gap: 150px;
  align-items: start;
}

.minimized {
display: none;
}

.checkbox {
  accent-color: #00ADB5;
  width: 18px;
  height: 18px;
}

.button {
  border-radius: 7px;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.button:active {
  background: #eee;
}

.hidden {
  visibility: hidden;
}