*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
  font-size: 16px;
}

.button {
  padding-inline: 10px;
}

.page {
  /* background-color: rgb(163, 163, 163); */
  padding: 30px;
}

.main__table-wrapper {
  position: relative;
}

.main__table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.table__header tr {
  border: 1px solid #b7b9bb;
}

.table__header th {
  position: relative;
  padding: 0.5em 1.5em;
  text-align: start;
  background-color: #f3f3f3;
}

.table__header th:last-child:after {
  position: absolute;
  content: '';
  margin-left: 10px;
  margin-top: 3px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.table__header th:last-child:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.table__header th:not(:last-child):hover {
  cursor: default;
}

.table__body tr {
  border: 1px solid #b7b9bb;
}

.table__body td {
  padding: 0.5em 1em;
}

.table__input {
  background-color: transparent;
  border: none;
  padding: 0.25em 0.5em;
}

.table__input:focus {
  border: none;
  outline: none;
}

.table__input:last-child:hover {
  outline: 1px solid #b7b9bb;
  border-radius: 3px;
}

.table__body {
  position: relative;
}

.table__add-button {
  position: absolute;
  left: 0;
}

.table__input-worker-name {
  position: relative;
}


