.groups {
  position: relative;
  width: 850px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.groups:hover .groups__add-button {
  opacity: 1;
}

.groups__title {
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  text-decoration-color: #00ADB5;
}

.groups__clear-button {
  position: absolute;
  right: 50px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background: no-repeat center center #eee;
  background-image: url(./../images/clear.svg);
  background-size: 70%;
}

.groups__random-button {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background: no-repeat center center #eee;
  background-image: url(./../images/random.svg);
  background-size: 80%;
}

.groups__list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-inline: 15px;
}

.groups__header {
  display: flex;
  font-weight: bold;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.groups__header-group {
  margin-inline-end: 185px;
}

.groups__header-amount {
  margin-inline-end: 30px;
}

.groups__header-worker {
  margin-inline-end: 105px;
}

.groups__header-status {
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: content-box;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  background-color: #fff;
  height: 21px;
  padding: 5px;
  border-radius: 5px;
  margin-right: -25px;
}

.groups__header-status:hover {
  background-color: #eee;
  cursor: pointer;
}

.groups__header-status:has(.filtered) {
  background-color: #eee;
}

.groups__header-status:has(.filtered):hover {
  background-color: #ddd;
}

.groups__header-filter-icon {
  margin-top: 2px;
  display: block;
  position: relative;
  width: 10px;
  margin-inline: 2px;
  background-color: #000;
  height: 2px;
}

.groups__header-filter-icon::before {
  content: '';
  position: absolute;
  left: -2px;
  margin-inline: auto;
  top: -5px;
  width: 14px;
  height: 2px;
  background-color: #000;
  transition: transform 0.2s ease;
}

.groups__header-filter-icon::after {
  content: '';
  position: absolute;
  left: 2px;
  margin-inline: auto;
  top: 5px;
  width: 6px;
  height: 2px;
  background-color: #000;
  transition: transform 0.2s ease;
}

.groups__header-filter-icon.filtered {
  height: 0;
}

.groups__header-filter-icon.filtered::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: 14px;
  height: 2px;
  transform: rotate(45deg);
  background-color: #000;
}

.groups__header-filter-icon.filtered::after {
  content: '';
  position: absolute;
  margin-inline: auto;
  left: -2px;
  top: -2px;
  width: 14px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: #000;
}

.groups__item {
  position: relative;
  background-color: #eee;
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding-block: 5px;
  padding-inline: 15px;
}

.groups__item:hover .groups__remove-button {
  opacity: 1;
}

/* .groups__item:not(:last-of-type) {
  border-bottom: 1px solid rgba(34, 40, 49, 0.2);
} */

.groups__item:has(.groups__checkbox:checked) {
  color: rgba(34, 40, 49, 0.2);
}

.groups__name {
  display: block;
  width: 350px;
  margin-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.groups__amount {
  display: block;
  width: 50px;
  text-align: right;
  margin-right: 5px;
}

.groups__amount-text {
  display: block;
  padding-block: 5px;
  margin-right: 20px;
}

.groups__select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  width: 190px;
  display: block;
  margin-right: 100px;
  outline: 1px solid rgba(34, 40, 49, 0.2);
  background-color: transparent;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.groups__select:hover {
  cursor: pointer;
  background-color: #fff;
}

.groups__select:has(.selected) {
  outline: none;
}

.groups__select:disabled:hover   {
  background-color: inherit;
  cursor: auto;
}

.groups__option {
  font-family: inherit;
  font-size: inherit;
  color: #222831;
  font-weight: inherit;
  padding: 5px;
}

.groups__input {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  padding: 5px;
  border-radius: 5px;
}

.groups__input:hover {
  outline: 1px solid rgba(34, 40, 49, 0.2);
  background-color: #fff;
}

.groups__input:focus {
  background-color: #fff;
  outline: none;
}

.groups__input:required {
  outline: 1px solid rgba(34, 40, 49, 0.2);
}

.groups__input:valid {
  outline: none;
}

.groups__input:disabled {
  outline: none;
}

.groups__input:disabled:hover {
  background-color: inherit;
}

.groups__input::placeholder {
  color: rgba(34, 40, 49, 0.5);
}

.groups__add-button {
  height: 30px;
  width: 30px;
  opacity: 0;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.groups__list:not(:has(.groups__item)) + .groups__add-button {
  opacity: 1;
}

.groups__add-button::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  background-color: #222831;
  top: 14px;
  left: 50%;
  transform: translate(-50%);
}

.groups__add-button::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 50%;
  background-color: #222831;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
}

.groups__remove-button {
  height: 30px;
  width: 30px;
  position: absolute;
  right: -40px;
  opacity: 0;
  transition: all 0.1s ease;
}

.groups__remove-button:hover {
  opacity: 1;
}

.groups__remove-button::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  background-color: #222831;
  top: 14px;
  left: 50%;
  transform: translate(-50%);
}